.task__list {
    padding: 16px 16px;
}
.task {
    background-color: white;
    padding: 16px 16px;
    display: flex;
}
.task:not(:last-child) {
    margin-bottom: 16px;
}
.task__description {
    padding: 0 8px;
}